<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e94832b4-9f09-47b4-b62d-48c54d03b7c3" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e94832b4-9f09-47b4-b62d-48c54d03b7c3fileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
